* {
  padding: 0;
  margin: 0;
}
/* Navbar*/
.sidonamn {
  color: rgb(248, 0, 0);
  margin-left: 10px;
  font-size: 200%;
  font-family: 'Lobster', cursive;
  margin-left: 40px;
}

body{
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  flex: 100%;
  align-items: center;
}
ul {
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav {
  background-image: url("bilder/stars.jpg");
  display: flex;
  background-color: rgb(0, 0, 0);
  flex: 100%;
  height: 89px;
}
.leftclass {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 100%;
  
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.leftlist:hover {
  background-color: rgb(63, 60, 60);
}
.leftlist {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.rightlist {
 margin-left: auto;
}
.rightlist a {
  color: white;
}

#mhamburgarmeny {
  margin-left: auto;
  margin-right: 20px;
  display: none;
}

@media screen and (max-width: 800px) {
  #hamburgarmeny {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  nav ul {
    display: none;
  }

}
/*main*/
.sidansborjan {
  background-image: url("bilder/strange.jpg");
  width: 100%;
  height: auto;
  height: 100%;
  background-size: cover;

}

.strangetitle{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 200%;
  display: flex;
}

.main{
  width: 100%;
  height: 100%;
}
.posterbild {
  justify-content: center;
  display: flex;
  column-gap: 150px;
  margin-top: 14%;

}
/* posters */
.jaezlatan{
  transition: transform .2s; 
}
.sonic {
  transition: transform .2s; 
}
.alfonsposter {
  transition: transform .2s; 
}
.jaezlatan:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.sonic:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.alfonsposter:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.strangetitle2 {
  display: none;
}
@media screen and (max-width: 800px) {
  .alfonsposter {
    display: none;
  }
  .sonic{display: none;}
  
  .strangetitle {
    display: none;
  }
  .strangetitle2 {
    display: block;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
  }

}

/* animation*/
.wrapper2 {
  background: linear-gradient(-45deg, #810505, #ff3535, #ff4c2d, #ffa034);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* slide show */
.slide1 {
  display: flex;
  justify-content: center;
  font-size: 200%;
  font-family: cursive;
}
.gradientbg {
  background: linear-gradient(-45deg, #810505, #ff3535, #ff4c2d, #ffa034);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: auto;
}

/* footer */
footer {
  background: rgb(0, 0, 0);
  height: auto;
  width: 100%;
  font-family: monospace;
  padding-top: 40px;
  margin-top: 30px;
  color: #fff;
}
.footersaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footersaker h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.sociala {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociala li {
  margin: 10px;
}
.sociala a {
  text-decoration: none;
  color: #fff;
}
.sociala a {
  font-size: 1.1rem;
  transition: color 0.4s;
}
.sociala a:hover {
  color: rgb(255, 0, 0);
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/*search*/
.searchbar {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

#searchresults {
  display: flex;
  flex-wrap: wrap;
}

.searchbara {
  max-height: 10%;
}

.item {
  flex-basis: 25%;
  flex-grow: 1;
  margin-right: 0px;
}

#poster{
  width: 99%
}

.movietitle {
  font-size: 90%;
}


